<body class="bg-light">
		<div class="col-md-12 p-0 bg-secondary">
			<div class="p-3">
				<div class="container">
					<div class="row">
						<div class="col-md-1 display-3 text-light">
							<i class="fa fa-user-circle"></i>
						</div>
						<div class="col-md-8 text-light">
              <table class="mt-1">
								<tr>
									<td class="font-weight-bold">Name</td>
									<td>:</td>
									<td>{{Identity.first_name}} {{Identity.last_name}}</td>
								</tr>
								<tr>
									<td class="font-weight-bold">School</td>
									<td>:</td>
									<td>{{Identity.school}}</td>
								</tr>
							</table>
						</div>
						<div class="offset-md-2 col-md-1 mt-4 mx-auto">
							<button type="button" class="btn" ng-click="logOut()">Logout</button>
						</div>
					</div>
				</div>
			</div>
		</div>

	<div class="container py-1 mt-4">
		<div class="row">
			<div class="col-md-8 mb-3">
				<div class="card">
					<div class="card-body">
						<h4 class="text-primary">Soal {{VarNumber}}</h4>
						<hr>
						<p>{{Question.question}}</p>
					</div>
				</div>
				<div class="col-md-12 mt-4">
					<div class="card">
						<div class="card-body">
							<h4>Answer</h4>
							<hr>
							<form action="" method="get" accept-charset="utf-8">
								<div class="row">
									<!-- <div *ngIf="ans.id == Question.answer.id; then thenBlock else elseBlock"></div>
									<ng-template #thenBlock><input type="radio" name="answer" value="{{j}}" [(ngModel)]="value.answer" checked></ng-template>
									<ng-template #elseBlock><input type="radio" name="answer" value="{{j}}" [(ngModel)]="value.answer"></ng-template>
									<label>{{ans.option}}</label> -->
									<!-- <input type="radio" name="answer" value="{{j}}" [(ngModel)]="value.answer" checked>
									{{ans.option}} -->
									<div class="col-md-9 row">
										<div class="col-md-4" *ngFor="let jaw of ListAnswer, let no = index">
											<p>{{no + 1}}). {{jaw.option}}</p>
										</div>
									</div>
									<div class="col-md-3">
										<label>Your Answer</label>
										<select class="form-control" name="answer" [(ngModel)] = "value.answer">
											<option value="" selected>Empty</option>
											<option value="{{j}}" *ngFor="let ans of ListAnswer, let j = index">{{j+1}}</option>
										</select>
									</div>
								</div>
							</form>
							<hr>
							<div class="row">
								<div class="col-sm-6">
									<!-- <button type="button" class="btn btn-warning" ng-click="">Empty</button> -->

								</div>
								<div class="col-sm-6">
									<button type="submit" (click) = "PutAnswerProses()" class="btn btn-dark float-right">Submit</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card mb-3">
					<div class="card-body">
						<div class="alert alert-warning" *ngIf="timeAlert != ''">
							{{timeAlert}}
						</div>
						<h3 class="text-info"><i class="fa fa-clock-o"></i>
							{{timeLeftView[0]}}:{{timeLeftView[1]}}:{{timeLeftView[2]}}
							<small class="font-weight-light"> Time Left</small></h3>
					</div>
				</div>
				<div class="card mb-3">
					<div class="card-body">
						<button type="button" class="form-control btn btn-success" (click)="FinishProses()" name="button">Finish</button>
						<small class="text-danger">Click this button only if you sure want to finish the test</small>
					</div>
				</div>
				<div class="card">
					<div class="card-body">
						<div class="row">
							<div class="col-sm-4" *ngFor="let list of ListQuestion, let i = index">
								<button class="btn text-left form-control mb-2" (click) = "ChangeQuestion(i)" [ngClass] = "{'btn-success' : list.answer != null, 'btn-warning' : list.answer == null}" type="button">{{i + 1}}<i class="fa fa-caret-right float-right"></i></button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<small class="text-center fixed-bottom bg-dark text-light">All Rights Already Reserved</small>
</body>
